@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 1em;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    border-radius: 60px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 60px;
  border: $secondary-color 5px solid;
  border-radius: 60px;
  box-shadow: 0 0 20px 0 #fff;

}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
  border-bottom: $secondary-color 5px;
  border-radius: 60px;
  box-shadow: 0 0 20px 0 #fff;
}

.job-1, img {
  grid-area: job1;
  border-bottom: #fff 3px solid;
  text-align: center;
  border-radius: 60px;
  box-shadow: 0 0 20px 0 #fff;
}

.job-2 {
  grid-area: job2;
  border-bottom: #fff 3px solid;
  text-align: center;
  border-radius: 60px;
  box-shadow: 0 0 20px 0 #fff;
}

.job-3 {
  grid-area: job3;
  border-bottom: $secondary-color 3px solid;
  text-align: center;
  border-radius: 60px;
  box-shadow: 0 0 20px 0 #fff;
}

.job {
  background: darken($primary-color, 5px);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
  text-align: center;
  border-radius: 60px;
  }

// Work/Projects
.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;
   

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1em;
  border-radius: 60px;
  box-shadow: 0 0 20px 0 #fff;
  padding: 0.5rem 1.5rem;
  background: $secondary-color;
  color: set-text-color($secondary-color);
  span {
    color: set-text-color($secondary-color);
  }
}
ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.brand span {
  color: ($primary-color);
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba darkgray;
  border-radius: 60px;
}
.wrapper > * {
  padding: 1em;
}

.company-info {
  background: $primary-color;
  border-radius: 60px;
}
.company-info h3,
.company-infoul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* Form Styles */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  margin: 0;
  display: inline-block;
  display: grid;
  grid-template-columns: 1fr; 
  
}

.contact form p {
  margin: 0;
  display: inline-block;
  display: grid;
  grid-template-columns: 1fr ;
  
  
}

.contact form .full {
  grid-column: 1/3;
  margin: 0;
  display: inline-block;
  display: grid;
  grid-template-columns: 1fr; 
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #fff;
}
.contact form button {
  background: $primary-color;
  border-radius: 60px;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: #a30727;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* Large Screens */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }
  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color ($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}
@import "mobile";
