<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />

      <link rel="stylesheet" href="css/main.css" />
      <title>Contact Me</title>
</head>

<body>
      <header>
            <div class="menu-btn">
                  <div class="btn-line"></div>
                  <div class="btn-line"></div>
                  <div class="btn-line"></div>
            </div>

            <nav class="menu">
                  <div class="menu-branding">
                        <div class="portrait"></div>
                  </div>
                  <ul class="menu-nav">
                        <li class="nav-item">
                              <a href="index.html" class="nav-link">
                                    Home
                              </a>
                        </li>
                        <li class="nav-item">
                              <a href="about.html" class="nav-link">
                                    About Me
                              </a>
                        </li>
                        <li class="nav-item">
                              <a href="work.html" class="nav-link">
                                    My projects
                              </a>
                        </li>
                        <li class="nav-item current">
                              <a href="contact.html" class="nav-link">
                                    How to Reach me
                              </a>
                        </li>
                  </ul>
            </nav>
      </header>

      <main id="Contact">
            <h1 class="sm-heading">
                  Reach out
                  <span class="text-secondary">for a Free Prototype & Estimate</span>
            </h1>
            <div class="container">
                  <h1 class="brand">
                        <span>Stacked</span> WebApps</h1>
                  <div class="wrapper animated rotateIn">
                        <div class="company-info">
                              <h3>Located in</h3>
                              <ul>
                                    <li>
                                          <i class="fa fa-road"> </i> Commack,Long island</li>
                                    <li>
                                          <i class="fa fa-phone"> </i> Connect through Email for Number
                                    </li>
                                    <li>
                                          <i class="fa fa-envelope"> </i> mleonard2590@gmail.com</li>
                              </ul>
                        </div>
                        <div class="contact">
                              <h3>Email Me</h3>

                              <form id="contactForm" method="POST" action="send">
                                    <p>
                                          <label>Name</label>
                                          <input type="text" name="name" id="name" />
                                    </p>
                                    <p>
                                          <label>Company</label>
                                          <input type="text" name="company" id="company" />
                                    </p>
                                    <p>
                                          <label>Email Address</label>
                                          <input type="text" name="email" id="email" />
                                    </p>
                                    <p>
                                          <label>Phone Number</label>
                                          <input type="text" name="phone" id="phone" />
                                    </p>
                                    <p class="full">
                                          <label>Message</label>
                                          <textarea name="message" rows="5" id="message"></textarea>
                                    </p>
                                    <p class="full">
                                          <button type="submit">Submit</button>
                                    </p>
                              </form>
                        </div>
                  </div>
            </div>
      </main>

      <footer id="main-footer">
            Copyright &copy; 2018 all rights reserved
      </footer>

      <script src="js/main.js"></script>
</body>

</html>